*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}
.container .heading{
	font-size: 3rem;
	margin: 2rem 0;
	text-transform: capitalize;
	color: var(--purple);
	font-family: Verdana, Geneva, Tahoma , sans-serif;
	letter-spacing: .2rem;
	text-align: center;
	text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);

}
.video-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.video-container .video{
	height: 15rem;
	width: 25rem;
	margin: 2rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
	overflow: hidden;
	border-radius: 1rem;
}